/* ==================================================
 Reset marging and padding for all elements
*/
* {margin: 0; padding: 0;}
/* ==================================================
    Width and centering of the page 
*/
body {width: 960px;    margin: 0 auto;}
/* ==================================================
    Layout
*/
#header {
    background-image: url("large_logo_pi.png");
    background-repeat: no-repeat;
    height: 100px;
}
#header h1, #header h2 {margin-left: 120px; }
#header h1  {margin-bottom: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #777;}
#content {
	float: left;	width: 960px;
}
#aside {
	clear: left;	float: left;
	width: 240px;	display: inline;
}
#maindata {
	float: right;	display: inline;
	width: 720px;   position:fixed;
    top: 125px;     bottom: 45px;
    overflow-y: scroll;
}
#footer {
    clear: both;    position:absolute;
    bottom: 0px;    width: 960px;       height: 40px;
}

/* ==================================================
    Navigation
*/
#nav ul {
	list-style: none;	    display: block;
	clear: right;	        height: 20px;
	padding-left: 120px;    
}
#nav ul li {
	display: inline;	    padding: 0;
	border: 1px solid #333; background-color: #ccc;
}
#nav ul li a {
	color: #333;	    text-decoration: none;
	font-size: 12px;	font-weight: bold;
    padding: 0px 20px 0px 20px;
}
#nav ul li:hover {background-color: #fff;}
#nav ul li a:hover {color: #000;}

/* ==================================================
    Table content
*/
table {border-collapse: collapse; width: 700px; padding-top: 10px;}
table, th, td { border: 1px solid black}
tr:hover {/*font-weight: bold;*/ background-color: #eee;}
td {text-align: center;}
/* ==================================================
    Typography
*/
#maindata h3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 5px 20px 10px 5px;
}
#maindata p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 5px 20px 10px 5px; text-align: justify;
    line-height: 130%;
}
#maindata p.signature {
    text-align: right; font-style: italic;
    margin-right: 100px; margin-top: 30px;
}
#aside h4 {margin: 15px 20px;}
#aside p {margin-left: 25px;}
/* ==================================================
    Footer
*/
#footer p {
	text-align: center;	font-size: 12px;
	color: #888;        border-top: 1px solid #999;
}
#footer p a {text-decoration: none;}

