<!DOCTYPE html>
	<head>
		<title>Attendance Data</title>
		<link rel="stylesheet" href='../static/style.css'/>
	</head>
	<body>
		<h1>Attendance Data</h1>
		<h3>attendID Number: {{Where}}</h3>
		<h3>saitID Number: {{Who}}</h3>
		<h3>Date of entry: {{When}}</h3>
		<hr>
		<h3><a href="/"class="button">REFRESH</a></h3>
		<hr>
		<h3>Manual Input</h3>
		<p> Enter SAIT ID number:
		<form method = "POST">
			<input name= "idNum" value= {{idNum}}>
			<input type = "submit">
			</form></p>
		<hr>
		<p>@2019 by Robin Greig</p>
	</body>
</html>
